.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.loader {
    width: 200px;
    height: 1px;
    background-color: var(--border-color);
    position: relative;
    overflow: hidden;
}

.loader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    transform: translateX(-100%);
    animation: loading 1.5s cubic-bezier(0.16, 1, 0.3, 1) infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}